@keyframes from-top-in-left-down {
  from {
    transform: translate(100%, -100%);
  }

  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes reverse-from-top-in-left-down {
  from {
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(100%, -100%);
  }
}

.from-top-in-left-down-leave-to {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: reverse-from-top-in-left-down;
  transition: opacity .3s;
}

.from-top-in-left-down-enter {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
}

.from-top-in-left-down-enter-to {
  opacity: 0;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: from-top-in-left-down;
  transition: opacity .3s;
}
