.display-mode {
  transition: 0.6s;
  background: hsl(207, 30%, 90%);
  
  &.--theme-dark {
    transition: 0.3s;
    color: white;
    background: $light-dark !important;
  }
}
.w-md-50 {
  @media(min-width: 768px) {
    width: 50% !important;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.toasted-container .toasted {
  top: 35px;
  padding: 1rem;
}
.material-icons {
  &.--prepend {
    align-self: center;
  }
}
.inline-block {
  display: inline-block;
}
.overflow {
  &.--scroll {
    overflow: scroll;
  }
}