.card {
    background-color: inherit;
    border: 1px solid;
    border-color: #f0eeeb70;
    border-radius: 1rem;
}
.card-body {
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 30px rgba(0,0,0,0.12);
        transition: 0.3s;
    }
}